/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
	min-width: 900px;
}

a
{
	color: #237485;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

/* Outer */

#base
{
	padding: 0em;
	margin: 0em;
	width: 100%;
}

/* Header */

#header
{
	position: relative;
	background: #1d687c url(images/header_bg.gif) bottom left repeat-x;
	height: 68px;
	padding-left: 50px;
}

#header .logo
{
	float: left;
	padding: 10px 15px 0 0;
}

#header h2
{
	float: left;
	padding: 26px 0 2px 0;
	font-size: 0.8em;
	line-height: 17px;
	color: #c4e1e7;
}

#header h2 a
{
	font-size: 2.4em;
	
	letter-spacing: -0.05em;
	color: #fff;
	text-decoration: none;
}

#header h2 a:hover
{
	color: #eef5f6;
}

/* Menu */

#secondaryMenu
{
	position: absolute;
	top: 28px;
	right: 27px;
}

#secondaryMenu ul
{
	list-style: none;
}

#secondaryMenu li
{
	display: inline;
	padding-left: 0.6em;
	margin-left: 0.5em;
	border-left: dotted 1px #3997a5;
}

#secondaryMenu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#secondaryMenu li a
{
	color: #fff;
	padding: 0.1em;
	text-decoration: none;
}

#secondaryMenu li a:hover
{
	text-decoration: underline;
}

#primaryMenu 
{
	padding:0 0 0 32px; 
	margin:0; 
	list-style:none;
	height:28px; 
	background:#fff url(images/button1.gif); 
	position:relative; 
	border:1px solid #000; 
	border-width:0 1px; 
	border-bottom:1px solid #444;
	min-width: 700px;
}

#primaryMenu li 
{
	float:left;
	list-style:none;
}

#primaryMenu li a 
{
	display:block; 
	float:left; 
	height:28px; 
	line-height:28px; 
	color:#aaa; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold; 
	text-align:center; 
	padding:0 10px 0 10px; 
	margin:0;
	cursor:pointer;
}

#primaryMenu li a:hover 
{
	color:#fff;
	background:#000 url(images/button2.gif);
}

#search
{
  padding: 3px 27px 3px 0;
  margin: 0;
  float: right;
}

#searchform #search_theme_form_keys, #edit-search-theme-form-keys
{
   display: block;
   float: left;
   width: 100px;
   margin: 2px 10px 2px 0;
   padding: 0;
   border: 1px solid #5f5f5f;
   background-color: #e1e6e7;
   color: #696B64;
}

#primaryMenu #edit-submit.form-submit 
{
   float: left;
   border: none;
   display: block;
   width: 68px;
   height: 20px;
   	color:#fff; 
	text-decoration:none; 
	font-size:11px;
   background: url(images/bg_search_go.gif) no-repeat;
}

/* Content */

.mission
{
	padding: 10px 15px 10px 15px;
	margin: 0 0 20px 0;
	border: 1px solid #f2f2f2;
	background-color: #fff;
	text-align: center;
}

.sticky
{
	padding: 0px 15px 15px 15px;
	background-color: #fbfbfb;
	border: 1px solid #f2f2f2;
	margin-bottom: 20px;
}

#content
{
	line-height: 1.4em;
}

#content p
{
	margin: 0.5em 0;
}

#content h1
{
	color: #545454;
	margin: 0.5em 0;
	background: url(images/dotted.gif) repeat-x bottom;
	padding-bottom: 0.3em;
	font-size: 1.5em;
}

#content h1 a
{
	color: #545454;
	text-decoration: none;
}

#content h2
{
	color: #1a6277;
	margin: 1em 0 0.5em 0;
	background:#f9f9f9 url(images/dotted.gif) repeat-x bottom;
	padding: 2px 0 2px 10px;
	font-size: 1.3em;
}

#content h2 a
{
	color: #1a6277;
	text-decoration: none;
}

#content h2 a:hover
{
	color: #545454;
}

#primaryContentContainer h3
{
	color: #545454;
	margin: 0.5em 0;
	font-size: 1.1em;
}

#content ul
{
	padding-left: 1em;
	list-style: square;
}

#content table
{
	margin: 0.5em 0 1em 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

#content table td,
#content table th 
{
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
}

#content table tr.odd 
{
  background: #fafafa;
}

#content table tr.even 
{
  background: #fff;
}

.post
{
	padding: 0px;
	clear: both;
	overflow: hidden;
}
.post .date
{
	height: 50px;
	width: 45px;
	background: url(images/calendar.gif) no-repeat;
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: center;
	padding: 0px 2px 0 0;
	line-height: 100%;
	float: left;
}
.post .date span 
{
	height: 16px;
	display: block;
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
}
.post .title 
{
	float: left;
	margin-left: 10px;
}
.meta 
{
	padding-bottom: 5px;
}	
	
.submitted
{
	font-size: 80%;
	color: #999999;
}

.submitted a
{
	color: #3da0ab;
}

.submitted a:hover 
{
	color: #44a1d0;
	text-decoration: none;
}
.submitted .category
{
	background: url(images/mini-category.gif) no-repeat;
	padding-left: 18px;
	float: left;
}
.submitted .comments
{
	background: url(images/mini-comment.gif) no-repeat;
	padding-left: 18px;
	float: right;
}
.mini-add-comment 
{
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 12px;
	float: right;
}
.entry 
{
	padding: 10px 0px 5px;
	clear: both;
}

.post-nav 
{
	clear: both;
	padding-bottom: 35px;
	margin-top: -15px;
	font-size: 90%;
}
.post-nav a, .post-nav a:visited 
{
	color: #999999;
	text-decoration: none;
}
.post-nav a:hover 
{
	color: #000000;
	text-decoration: none;
}
.post-nav .previous a 
{
	float: left;
	padding-left: 20px;
	background: url(images/post-nav-previous.gif) no-repeat left center;
}
.post-nav .next a 
{
	float: right;
	padding-right: 20px;
	text-align: right;
	background: url(images/post-nav-next.gif) no-repeat right center;
}

.smlink 
{
	float: left;
	font-size: 80%;
}

.node_read_more a 
{
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 15px;
}
.more-link a 
{
	background: url(images/mini-more.gif) no-repeat left center;
	padding-left: 15px;
}
.comment_comments a 
{
	background: url(images/comments.gif) no-repeat;
	padding-left: 26px;
	clear: both;
}
.poll .bar 
{
	height: 14px;
	background-color: #D4E2F2;
}
.poll .bar .foreground 
{
	background: url(images/bg-poll.gif) repeat-x;
	height: 14px;
	clear: none;
	float: left;
}
.poll .vote-form 
{
	text-align: center;
}
.poll .vote-form .choices 
{
	padding-left: 5%;
	text-align: left;
	display: block;
}
.comment_add a 
{
	background: url(images/mini-comment.gif) no-repeat left center;
	padding-left: 20px;
}
li.comment_delete a 
{
	background: url(images/mini-trash.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_edit a 
{
	background: url(images/mini-edit.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_reply a 
{
	background: url(images/mini-comments.gif) no-repeat 0 2px;
	padding-left: 15px;
}
.blog_usernames_blog a 
{
	background: url(images/mini-user.gif) no-repeat left center;
	padding-left: 20px;
}


/* Primary Content */

#primaryContentContainer
{
	background-color: #fff;
	float: right;
	margin: 0em -19em 0em -19.4em;
	width: 100%;
	
}

#primaryContent
{
	margin: 0.7em 18em 0em 17em;
	padding: 0.7em 3em 1.5em 3em;
	min-width: 350px;
}

/* Secondary Content */

#leftContent p
{
	font-size: 90%;
	line-height: 1.4em;
}

#leftContent
{
	position: relative;
	float: left;
	width: 14em;
	padding: 1em 2em 1.5em 2em;
	background: #fff url(images/sidebar_left.gif) top right repeat-y;
}

#leftContent .column
{
	position: absolute;
	right: 0em;
	bottom: -64px;
	background: #fff url(images/sidebar_left_b.gif) top right no-repeat;
	height: 64px;
	width: 128px;
}

#leftContent h3
{
	color: #545454;
	text-align: center;
	margin: 0.5em 0;
	position: relative;
	background: url(images/left-top-corner.jpg) top left no-repeat;
	padding: 0.8em 0 0.4em 0;
	font-size: 1.1em;
}


/* Tertiary Content */

#rightContent p
{
	font-size: 90%;
	line-height: 1.4em;
}

#rightContent
{
	position: relative;
	float: right;
	width: 15em;
	padding: 1em 2em 1.5em 2em;
	background: #fff url(images/sidebar_right.gif) top left repeat-y;
}

#rightContent .column
{
	position: absolute;
	left: 0em;
	bottom: -64px;
	background: #fff url(images/sidebar_right_b.gif) top left no-repeat;
	height: 64px;
	width: 128px;
}

#rightContent h3
{
	color: #545454;
	text-align: center;
	margin: 0.5em 0;
	position: relative;
	background: url(images/right-top-corner.jpg) top right no-repeat;
	padding: 0.8em 0 0.4em 0;
	font-size: 1.1em;
}

li.expanded
{
  list-style-type: circle;
  list-style-image: url(images/vmenuarrow_down.gif);
  line-height: 1.4em;
}
li.collapsed
{
  list-style-type: disc;
  list-style-image: url(images/vmenuarrow.gif);
  line-height: 1.4em;
}

li.leaf
{
  list-style-type: square;
  list-style-image: url(images/vmenuarrowhover.gif);
  line-height: 1.4em;
}

.block
{
  margin-bottom: 2em;
}

.center 
{
	text-align: center;
}
img.center, img[align="center"] 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.left 
{
	float: left;
}
img.left, .field-type-image, img[align="left"] 
{
	float:left;
	margin: 2px 20px 5px 0px;
}
.right 
{
	float: right;
}
img.right, img[align="right"] 
{
	float:right;
	margin: 2px 0px 5px 20px;
}


/* Footer */

#footer
{
	position: relative;
	z-index: 1;
	background: #f9f9f9 url(images/dotted.gif) repeat-x top;
	padding: 2em 0em 2em 0em;
	margin: 1em 0px 0em 0px;
	text-align: center;
	font-size: 80%;
}

.clear
{
	clear: both;
}